[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = git://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
